<div class="col-md-12">




  <!-- 
            <h3>Metodos de simulación</h3>
            <hr>
            <br> -->



            <div class="jumbotron jumbotron-fluid">
              <div class="container">
              <h3 class="letras">¿Que es la simulación?</h3>
      <p>La simulación en el aprendizaje es un método eficaz basado en tecnologías informáticas inmersivas que concibe a
        los alumnos como agentes activos en el desarrollo de sus conocimientos, habilidades y actitudes profesionales
        mediante la experiencia.</p>
      <br>
      <br>
      <p>Para hacer uso de este sistema puedes encontrar el manual de usuario aquí: <a href="https://drive.google.com/file/d/1cgiCT0Oy7-arrO_6uJxuPwqgEcRoIeWc/view" target="_blank">  Manual de usuario</a></p>

    
    </div>
  </div>



</div>